.form-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-input {
    width: 500px;
}

.button-search {
    display: inline-flex;
	padding: (($button-form--height - get-line-height(button) - ($button-form--border-width * 2)) / 2) ($button--padding-h - $button-form--border-width);
	height: $button-form--height;
    text-decoration: none !important;
	text-transform: $button--transform;
	color: color(button-light);
    background-color: color-bg(button-light);
    border-width: $button-form--border-width;
	border-style: $button-form--border-style;
	border-color: color-border(button-light);
    border-radius: $button--radius;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    letter-spacing: inherit;
    white-space: nowrap;
	transition: background .15s ease;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .search-input {
        width: 300px;
    }
  }